{% extends 'base.html' %}
{% block title %} Add Quiz {% endblock %}

{% block body %}
<div class="container mt-4">
    <form action="/add_quiz/" method="POST"> {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-info">Submit</button>
</form>
    <br>
  <table class="table">
    <thead>
      <tr>
        <th>Quiz</th>
        <th>Delete</th>
      </tr>
    </thead>
    {% for quiz in quizzes %}
    <tr>
      <td><a href="/add_question/">{{quiz.name}}</a></td>
      <td><a href="/delete_quiz/{{quiz.id}}/" class="btn btn-danger">Delete</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
